/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 76%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.right{
    float: right;
}
.left{
    float: left;
}


.margin-b-20px{
    margin-bottom: 20px;
}

header li{
    display: inline-block;
    padding: 0 8px;
}

header li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(182, 180, 180);
    font-size: 11px;
}



/* *** HEADER *** */

header{
    width: 100%;
}

nav{
    height: 40px;
    line-height: 40px;
}


/* *** MAIN *** */

main{
    width: 100%;
}

.main-top{
    width: 100%;  
}

.main-bottom{
    width: 100%;
    padding-bottom: 15px;
}

.column{
    width: 16%;
}

.content{
    width: 66%;
    margin: 0 1%;
}


/* *** FOOTER *** */

footer{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: gray;
}

footer span::after{
    content: '\2665';
    color: red;
}




/* ****** DEBUG ****** */

/* *** DEBUG HEADER *** */


.debug .header-bottom{
    height: 500px;
    padding-left:50px;
    padding-top: 350px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 50px;
}

.debug #logo{
    border-right: 1px solid lightgray;
    width: 170px;
}

.debug #logo #neori{
    width: 145px;
}

.debug nav ul{
    list-style: none;
}

.debug .header-bottom .description-title,
.debug .header-bottom .description-text{
    width: 50%;
  }

.debug .header-bottom .description-title span{
  font-size: 30px;  
}
.debug .header-bottom .description-text span{
    font-size: 12px;  
  }



/* *** DEBUG MAIN *** */
.debug .main-top{
    /* background-color: rgb(124, 161, 230); */
}

.debug .main-bottom{
    height: 93%; 
}


.debug .content img,
.debug .column .photo{
    height: 200px; 
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.debug .main-top .subtitle{
    color: rgb(182, 180, 180);
}


.debug .main-bottom h4{
    color: grey;
    font-weight: 500;
    
}

.debug .main-bottom span{
    color: rgb(176, 176, 176);
    font-size: 10px;
}